@import '../../SCSS/variables.scss';
@import '../../SCSS/mixins.scss';

.level{
    @include flex-1 (row, center);
    margin: 0 10%;
    height: auto;
    padding: 0 15px;
}

@media screen and (max-width: 540px) {
    .level{
        margin: 15px 0;
    }
}