@import '../../SCSS/variables.scss';
@import '../../SCSS/mixins.scss';

.home{
    flex-grow: 1;
    @include flex-1 (row, space-around);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    a{
        text-decoration: none;
        padding: 15px;
        color: $white-color;
        background: $deep-black-color;
        border-radius: 5px;
        font-size: 20px;

        &:hover{
            background: $red-color;
        }
    }
}


