@import '../../SCSS/variables.scss';

.ErrorPage{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 540px) {
    .ErrorPage{
        padding-left: 50px;
        padding-right: 50px;
    }
}